<header class="
        flex
        h-20
        w-full
        items-center
        justify-between
        bg-primary
        px-8
        text-white
    ">


    <!-- Título izquierda -->
    <div>

        <h1 class="
                text-3xl
                font-bold
            ">
            Science GTS 2026
        </h1>

    </div>



    <!-- Logos derecha -->
    <div class="
            flex
            items-center
            gap-4
        ">

        <img src="logo_uji.png" alt="Universidad" class="
                h-12
                w-auto
                object-contain
            ">


        <img src="logo_geotec.png" alt="Evento" class="
                h-12
                w-auto
                object-contain
            ">

    </div>


</header>